* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e3f4fc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    display: flex;
    width: 800px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}


.form-section {
    flex: 1;
    padding: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.header h2 {
    color: #133041;
    font-size: 20px;
}

.clear-btn {
    background: none;
    border: none;
    text-decoration: underline;
    color: #6b8291;
    cursor: pointer;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #6b8291;
    font-weight: 500;
}

.flex-row {
    display: flex;
    gap: 20px;
}

.input-container {
    display: flex;
    border: 1px solid #6b8291;
    border-radius: 4px;
    overflow: hidden;
}

.input-container input {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}

.prefix, .suffix {
    background-color: #e3f4fc;
    color: #133041;
    padding: 10px 15px;
    font-weight: bold;
}

.reverse {
    flex-direction: row-reverse;
}


.radio-container {
    display: flex;
    align-items: center;
    border: 1px solid #d1d9e0;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.radio-container:hover {
    border-color: #d8db2f;
}

.radio-text {
    margin-left: 10px;
    font-weight: bold;
    color: #133041;
}


.calculate-btn {
    background-color: #d8db2f;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    color: #133041;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.calculate-btn:hover {
    background-color: #c4c728;
}


.result-section {
    flex: 1;
    background-color: #133041;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom-left-radius: 60px;
}

.result-content h3 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 22px;
}

.result-content p {
    color: #9ab0be;
    line-height: 1.5;
}