*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(198, 235, 249);
}

.container{
    display: flex;
    
    margin: 0 auto;
    width: 70%;
    margin-top: 40px;
    height: 500px;
    border-radius: 25px;
    background-color: white;
}

.left-section{
    padding: 0 20px;
    width: 50%;
    border: 3px solid blue;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    /*height: 100%;*/
}

.left-top{
    display: flex;
    justify-content: space-between;
    
}

.left-top h2{
    font-weight: bold;
    font-size: 30px;
}

.right-section{
    width: 50%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 110px;
    background-color: rgb(38, 38, 65);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*height: 100%;*/
}

.right-section img{
    width: 250px;
    
}

.right-section p{
    width: 75%;
    text-align: center;
    font-size: 18px;
    color: grey;
    margin-top: 20px;
}

