
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #ecf2ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.card {
    display: flex;
    background-color: white;
    width: 600px;
    border-radius: 30px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}


.result-section {
    flex: 1;
    background: linear-gradient(to bottom, #7857ff, #2e2be9);
    color: white;
    padding: 40px;
    text-align: center;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.result-section h3 {
    color: #c8c7ff;
    font-size: 18px;
}

.score-circle {
    background: linear-gradient(to bottom, #4e21ca, transparent);
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.score-circle h1 {
    font-size: 50px;
}

.score-circle p {
    color: #8174ff;
    font-size: 14px;
}

.result-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.description {
    font-size: 14px;
    color: #c8c7ff;
    line-height: 1.4;
}


.summary-section {
    flex: 1;
    padding: 40px;
}

.summary-section h3 {
    margin-bottom: 25px;
    color: #303b5a;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-weight: 600;
}

.summary-item strong {
    color: #303b5a;
}

.summary-item span:last-child {
    color: #989da9;
}


.reaction { background-color: #fff6f5; color: #ff5757; }
.memory { background-color: #fffbf2; color: #ffb01e; }
.verbal { background-color: #f2fbfa; color: #00bd91; }
.visual { background-color: #f3f3fd; color: #1125d4; }


.btn-continue {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border: none;
    border-radius: 30px;
    background-color: #303b5a;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-continue:hover {
    background: linear-gradient(to bottom, #7857ff, #2e2be9);
}


@media (max-width: 600px) {
    .card {
        flex-direction: column;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .result-section {
        border-radius: 0 0 30px 30px;
    }
}